extends layout

block content
  h1= title
  p Welcome to Sowmya's Assigment Output.
  button(type="button", class="btn btn-secondary") Sample Button
  button(type="button", class="btn btn-primary", onclick="boost()") Press me
  div#boost add in extra
  script.
    let value = 0;
    let amt = 3;

    function boost() {
      amt += 1;
      value += amt;
      document.getElementById("boost").textContent = `Boosted ${value} by ${amt}`;
    }
  a(href="/devices") View Devices